footer p {
          text-align: center;
          padding: calc(var(--padding-primary) / 2);
          color: var(--color-light);
          font-weight: var(--font-weight-normal);
          margin-bottom: 0;
}
footer p a {
          color: var(--color-accent);
          transition: all 0.3s;
}

/* footer p:hover {
          color: var(--color-grey);
} */
