@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,600&family=Poppins:ital,wght@0,200;0,900;1,400&family=Roboto+Slab:wght@100;300&display=swap");
:root {
          --color-dark: #0a0a0a;
          --color-darken: #27292a;
          --color-accent: #c7f11e;
          --color-light: #fefefe;
          --color-darker: #1f2122;
          --color-grey: #9e9e9e;

          --distance-primary: 50px;
          --padding-primary: var(--distance-primary);
          --margin-primary: var(--distance-primary);
          --border-radius-primary: calc(var(--distance-primary));

          --font-weight-bold: 900;
          --font-weight-normal: 400;
}

body {
          background-color: var(--color-darker);
}
ul {
          list-style-type: none;
}
a {
          text-decoration: none;
}
